:root {
  --white: #fefefe;
  --black: #1e1e1e;
  --d-black: #000;
  --gray: #717171;
  --green: #60e527;
}

@font-face {
  font-family: "newspaper";
  src: url("../public/Magazine-Cutouts-Font.ttf");
}

body {
  font-family: "Arsenal", sans-serif;
  font-stretch: 115% !important;
  color: var(--black);
  background: url("../public/background.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow-x: hidden;
}

h1 {
  font-family: "newspaper", "Arsenal", sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 35px;
  word-break: break-word;
}

@media (min-width: 900px) {
  h1 {
    font-size: 50px !important;
  }
}

div,
p,
a,
span {
  font-size: 16px;
}

a {
  color: var(--green);
  text-decoration: none;
  font-weight: 800;
  transition: 0.2s ease-in-out;
}

a:hover {
  color: var(--gray) !important;
}

span.green {
  color: var(--green);
  font-weight: bold;
  font-size: 20px;
}

/**************************
* Loading
*/

@keyframes bouncing-wave-animation {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-0.4em);
  }
}

@media (min-width: 1000px) {
  .loading {
    width: 100vw;
    height: 100vh;
  }

  .loading {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--black);
  }

  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .loader span {
    font-family: "arsenal";
    font-size: 150px;
    color: var(--green);
    text-transform: uppercase;
    font-weight: bold;
    animation: bouncing-wave-animation 2s infinite;
    animation-delay: calc(0.3s * var(--item));
    -webkit-box-reflect: below -0.4em linear-gradient(transparent, #00000045);
  }
}

/**************************
* Header
*/
header {
  background: var(--black);
  padding: 20px 40px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav a {
  text-align: center;
  text-decoration: none;
  display: block;
  color: var(--white);
}

/**************************
* Home
*/
.home .links-zine {
  display: block;
}

.home .links-forms {
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  margin: 20px auto;
  justify-content: space-between;
  align-items: center;
}

.home .links-forms a {
  display: block;
  max-width: fit-content;
  word-wrap: break-word;
  margin: 0 auto;
}

@media (min-width: 900px) {
  .home .links-forms a {
    flex: 0 0 9%;
    padding: 10px 0 !important;
  }
}

.home .links-zine a,
.return-home {
  display: block;
  margin: 2% 0;
  padding: 10px 20px;
  background-color: var(--green);
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
}

@media (min-width: 900px) {
  .home .links-zine {
    display: flex !important;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .home .links-zine a,
  .return-home {
    flex: 0 0 45% !important;
    margin: 1% 0 !important;
  }
}
.home .links-zine a:hover,
.return-home:hover {
  background-color: var(--gray);
  color: var(--white) !important;
}

.home h2,
.home .text {
  text-align: center;
}

.return-home {
  margin: 2% 0;
}

.return-home-icon {
  max-width: fit-content;
  margin: 10px auto;
  display: block;
}
.return-home-icon img {
  max-width: 35px;
}

/**************************
* Contents
*/

.description {
  max-width: 90%;
  margin: 2vh auto;
  background-color: var(--black);
  color: var(--white);
  padding: 20px 40px;
  border-radius: 8px;
}

@media (min-width: 100px) {
  .description {
    max-width: 60% !important;
  }
}

.description a.link {
  color: var(--green);
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  font-size: 25px;
  font-weight: 800px;
  padding: 10px 20px;
}

/**************************
* Socials logo
*/

.socials-list {
  display: flex;
  max-width: fit-content;
  margin: 0 auto;
  gap: 10px;
}

.socials-list .socials-item {
  flex: 0 0 18%;
}

.socials-list .socials-item a.socials {
  text-indent: -9999px;
  display: block;
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.socials-item .instagram {
  background: url("../public/socials-logo/ig.svg");
}

.socials-item .twitter {
  background: url("../public/socials-logo/twt.svg");
}

.socials-item .tumblr {
  background: url("../public/socials-logo/tumblr.svg");
}

.socials-item .bluesky {
  background: url("../public/socials-logo/bsky.svg");
}

.socials-item .tiktok {
  background: url("../public/socials-logo/tiktok.svg");
}

/**************************
* Timeline
*/

.timeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2vh auto;
}

.timeline .timeline-item {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid var(--gray);
  align-items: center;
  padding: 10px 20px;
  flex-wrap: wrap;
}

.timeline .header-timeline {
  display: none;
}

.timeline-item div {
  flex: 0 0 25%;
}

.timeline-item div:nth-child(2)::after {
  content: " - ";
  position: absolute;
  left: 50%;
  transform: translateX(50%);
}

.timeline-item div.date-name {
  flex: 0 0 100%;
  font-weight: 700;
}

.timeline-item:first-child div.date-name:nth-child(2),
.timeline-item:first-child div.date-name:nth-child(3) {
  flex: 0 0 25% !important;
}

@media (min-width: 900px) {
  .timeline {
    max-width: 80%;
  }
  .timeline .header-timeline {
    display: flex !important;
  }

  .timeline-item div.date-name {
    flex: 0 0 50% !important;
  }
  .timeline-item div:nth-child(2)::after {
    content: "";
  }
}

/**************************
* Contributors list
*/

.contributors {
  max-width: 80% !important;
  margin: 5vh auto;
}

.contributors .contributors-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 0 50px 0;
}

@media (max-width: 700px) {
  .contributors .contributors-list {
    flex-direction: column;
    align-items: center !important;
    gap: 50px;
  }
}

.contributors .contributors-list .member-card {
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

@media (min-width: 800px) {
  .contributors .contributors-list .member-card {
    flex: 0 0 33.33% !important;
  }
}

.contributors .contributors-list .member-card .profile-pic {
  max-width: 100px;
  border-radius: 100%;
  border: 3px solid var(--green);
}

.contributors .contributors-list .member-card .social-links a {
  color: var(--white);
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
}

.contributors .contributors-list .member-card .social-links a span {
  display: block;
  width: 20px;
  height: 20px;
}

.contributors .contributors-list .member-card .instagram a .icon {
  background: url("../public/socials-logo/ig.svg");
}

.contributors .contributors-list .member-card .twitter a .icon {
  background: url("../public/socials-logo/twt.svg");
}

.contributors .contributors-list .member-card .tumblr a .icon {
  background: url("../public/socials-logo/tumblr.svg");
}

.contributors .contributors-list .member-card .bluesky a .icon {
  background: url("../public/socials-logo/bsky.svg");
}

.contributors .contributors-list .member-card .tiktok a .icon {
  background: url("../public/socials-logo/tiktok.svg");
}

.contributors .contributors-list .member-card .ao3 a .icon {
  background: url('../public/socials-logo/ao3.png');
}

.contributors .contributors-list .member-card .social-link a .icon {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

/**************************
* Contact page
*/

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px auto;
}

form input,
form textarea {
  background-color: transparent;
  color: var(--white);
  border: 2px solid var(--gray);
  padding: 10px 20px;
  font-size: 16px;
  font-family: "Arsenal", sans-serif;
  border-radius: 8px;
  transition: 0.3s border-color ease-in-out;
}

form textarea {
  resize: none;
  min-height: 300px;
}

form input:focus,
form textarea:focus {
  outline: none !important;
  border-color: var(--green);
}

form button {
  background-color: var(--green);
  border: none !important;
  padding: 10px 20px;
  max-width: fit-content;
  margin: 0 auto;
  font-family: "newspaper";
  border-radius: 8px;
  transition: 0.4s ease-in-out !important;
  cursor: pointer;
}

form button:hover {
  background-color: var(--gray);
  color: var(--white);
}

/**
* FAQ
**/

.content-faq h2 {
  text-align: center;
}

.content-faq h2::before {
  content: "Q - ";
  font-family: "newspaper";
  font-weight: normal;
}

.question {
  margin: 40px 10px;
}

.question .answer::before {
  content: "Answer";
  font-family: "newspaper";
  position: absolute;
  left: 10px;
  top: 0;
  transform: translateY(-25px) skew(-10deg);
  border: 5px solid var(--d-black);
  padding: 5px 20px;
  background-color: var(--white);
  color: var(--black);
}

.question .answer::after {
  content: "";
  height: 30px;
  width: 20px;
  background-color: var(--white);
  position: absolute;
  right: 0;
  bottom: 0;
  transform: skew(-50deg) translate(10px, -10px);
  border: 5px solid var(--d-black);
}

.question .answer {
  display: flex;
  align-items: center;
  margin: 10px auto;
  position: relative;
  background: var(--d-black);
  padding: 10px 20px 10px 25px;
  border: 5px solid var(--white);
  outline: 10px solid var(--d-black);
  transform: skew(5deg);
}

.question .answer p {
  font-weight: bold;
  transform: skew(-5deg);
}

@media (min-width: 900px) {
  .question .answer {
    transform: skew(10deg) !important;
    padding: 10px 20px 10px 50px;
  }

  .question .answer p {
    transform: skew(-10deg) !important;
  }
  .question .answer::before {
    transform: translateY(-25px) skew(-20deg);
    left: 20px;
  }

  .question .answer::after {
    transform: skew(-50deg) translate(20px, 0px);
    height: 40px;
    width: 20px;
  }
}
@media (min-width: 1000px) {
  .question .answer {
    max-width: 700px;
  }
}

/**************************
* About page
*/

.about h2,
.about h3 {
  text-align: center;
  max-width: 80%;
  margin: 20px auto;
}

.about .text {
  text-align: center;
}

.about h3 {
  padding-top: 25px;
  border-top: 3px solid var(--green);
}

/**************************
* Mods page
*/
.mod {
  display: block;
  margin: 50px auto;
  text-align: center;
  padding: 10px;
  border-top: 2px solid var(--gray);
}

@media (min-width: 900px) {
  .mod {
    max-width: 80% !important;
    padding: 20px 60px !important;
  }
}

.mod .image-socials {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.mod .socials {
  display: flex;
  gap: 10px;
}
.mod .socials .ig {
  background: url("../public/socials-logo/ig.svg");
}
.mod .socials .bsky {
  background: url("../public/socials-logo/bsky.svg");
}
.mod .socials .tumblr {
  background: url("../public/socials-logo/tumblr.svg");
}
.mod .socials .tt {
  background: url("../public/socials-logo/tiktok.svg");
}
.mod .socials .twt {
  background: url("../public/socials-logo/twt.svg");
}
.mod .socials a {
  display: block;
  background-position: center center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  text-indent: -9999px;
  height: 20px;
  width: 20px;
}

.mod .image {
  overflow: hidden;
  max-width: 200px;
  max-height: 200px;
  display: flex;
  border: 3px solid var(--green);
  border-radius: 8px;
}

.mod .text {
  flex: 1;
}
.mod img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex: 1;
}

.mod .role-infos {
  display: flex;
  align-items: center;
  gap: 20px;
}

.mod .role-infos .role {
  flex: 0 0 50%;
}

.mod .role-infos p {
  display: block;
  max-width: fit-content;
  flex: 0 0 45%;
}

@media (min-width: 900px) {
  .mod .role-infos {
    gap: 50px;
  }
}

.mod .role-infos span {
  color: var(--green);
}

.mod .role {
  font-weight: normal;
  margin: 0 !important;
  color: var(--green);
  padding: 0;
}

.mod .intro {
  background-color: var(--d-black);
  padding: 10px 20px;
  transform: skew(-5deg);
  border: 5px solid var(--white);
  outline: 10px solid var(--d-black);
  max-width: 700px;
  position: relative;
  margin: 40px 0;
  display: block;
}

.mod .intro p {
  font-weight: bold;
  transform: skew(5deg);
}
.mod .intro::before {
  content: var(--name-mod);
  font-family: "newspaper";
  display: block;
  position: absolute;
  top: 0;
  transform: translateY(-25px) skew(-12deg);
  color: var(--black);
  background-color: var(--white);
  padding: 5px 10px;
  border: 5px solid var(--d-black);
}

.mod .intro::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 20px;
  height: 30px;
  width: 20px;
  background-color: var(--white);
  transform: skew(-50deg) translateY(-25px);
  border: 3px solid var(--d-black);
}

@media (min-width: 900px) {
  .mod .intro {
    transform: skew(-10deg);
  }
  .mod .intro p {
    transform: skew(10deg);
  }

  .mod .intro::after {
    transform: skew(-50deg) translate(20px, -5px);
    right: 0 !important;
  }

  .mod .intro::before {
    transform: translateY(-20px) skew(-12deg);
  }
}

@media (min-width: 1400px) {
  .mod {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
  }

  .mod .intro {
    max-width: 500px !important;
  }
}

@media (max-width: 1399px) {
  .role-infos {
    max-width: fit-content;
    margin: 0 auto;
  }

  .mod .intro {
    margin: 20px auto;
  }
}

@media (max-width: 600px) {
  .role-infos {
    display: block !important;
  }
}

/**************************
* Rules page
*/

.rules h2 {
  max-width: 80%;
  margin: 20px auto;
  text-align: center;
}

.rules .green {
  color: var(--green);
}

.rules h3,
.rules p {
  display: block;
  max-width: 90%;
  text-align: center;
  margin: 20px auto;
}

@media (min-width: 900px) {
  .rules h3,
  .rules p {
    max-width: 80% !important;
  }
}
